.fbutton, .abutton, .tbutton, .tbuttonp {cursor: hand; background-color: #EEF3FB; text-align: center;}
.cbutton {cursor: hand; background-color: white;}
.abutton {font-weight: bold;}
.tbutton {text-align: center; border-left: solid 2px #FFFFFF; border-top: solid 2px #FFFFFF; border-right: solid 2px #7694C8; border-bottom: solid 2px #7694C8;}
.tbuttonp {text-align: center; border-right: solid 2px #FFFFFF; border-bottom: solid 2px #FFFFFF; border-left: solid 2px #7694C8; border-top: solid 2px #7694C8;} 
.tbutton A, .tbutton A:visited, .tbuttonp A, .tbuttonp A:visited {text-decoration: none; color: black;}
.kcmd {color: #666666;}
.heada TD {border-bottom: solid 1px #7694C8;}
.headc TD {border-top: solid 1px #7694C8;}
.headd TD {border-top: solid 1px #7694C8; border-bottom: solid 1px #7694C8;}
.heade TD {border-top: solid 1px #B6C7E5; border-bottom: solid 1px #B6C7E5;}
.tabhi {background-color: #B6C7E5; border-left: solid 1px #7694C8; border-top: solid 1px #7694C8; border-right: solid 1px #7694C8;}
.tablo {background-color: #EEF3FB; border-left: solid 1px #B6C7E5; border-right:solid 1px #B6C7E5; border-top: solid 1px #B6C7E5; border-bottom:solid 1px #7694C8;}
.tablol {background-color: #EEF3FB; border-left:solid 1px #B6C7E5; border-top: solid 1px #B6C7E5; border-bottom:solid 1px #7694C8;}
.tablor {background-color: #EEF3FB; border-right:solid 1px #B6C7E5; border-top: solid 1px #B6C7E5; border-bottom:solid 1px #7694C8;}
.tabnone {background-color: #FFFFFF; border-bottom:solid 1px #7694C8;}
.tabloa {border-left:solid 2px #EEF3FB; border-top:solid 2px #EEF3FB; border-right:solid 2px #EEF3FB;border-bottom:solid 2px #EEF3FB;}
.tablob {border-left:solid 2px #FFFFFF; border-top:solid 2px #FFFFFF; border-right:solid 2px #B6C7E5;border-bottom:solid 2px #B6C7E5;}
.tabloc {border-right:solid 2px #FFFFFF; border-bottom:solid 2px #FFFFFF; border-left:solid 2px #B6C7E5; border-top:solid 2px #B6C7E5;}
.tabhia {border-left:solid 2px #B6C7E5; border-top:solid 2px #B6C7E5; border-right:solid 2px #B6C7E5; border-bottom:solid 2px #B6C7E5;}
.tabhib {border-left:solid 2px #EEF3FB; border-top:solid 2px #EEF3FB; border-right:solid 2px #7694C8; border-bottom:solid 2px #7694C8;}
.tabhic {border-right:solid 2px #EEF3FB; border-bottom:solid 2px #EEF3FB; border-left:solid 2px #7694C8; border-top:solid 2px #7694C8;}
.pulldown {background-color: #EEF3FB; border-left: 2px solid #FFFFFF; border-top: 2px solid #FFFFFF; border-right: 2px solid #B6C7E5; border-bottom: 2px solid #B6C7E5;}
.ftitle TD {border-bottom: solid 1px #7694C8; padding-top: 8px; padding-bottom: 4px;}
.flo TD {border-bottom: solid 1px #B6C7E5;}
.fhi TD {border-bottom: solid 1px #FFFFFF;}
.listhead TD {border-bottom: solid 2px #B6C7E5;}
.lista TD, .listb TD {border-bottom: solid 1px #EEEEEE;}
.listas TD, .listbs TD {border-bottom: solid 1px #B6C7E5;}
.msgnew TD {border-bottom: solid 2px #EEEEEE;}
.msgold TD {border-bottom: solid 2px #FFFFFF;}
.msgnews TD, .msgolds TD {border-bottom: solid 2px #B6C7E5;}
.frmt TD {border-bottom: solid 2px #B6C7E5;}
.frmb TD, .frme TD {border-bottom: solid 2px #FFFFFF;}
.frmb TD TD {border-bottom: solid 0px #EEEEEE;}
.frmbg TD, .frmbr TD {border-bottom: solid 2px #FFFFFF; color: black;}
#mail, #addr, #cal, #note {width:180px; position:absolute; visibility:hidden; background-color:#7694C8; border: solid 1px #7694C8; padding:0px; margin:0px; display:none;}
